<h2>Weather Information for {{ location }}</h2>

<div style='display: flex;'>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Temperature: {{ temperature }} {{ temperatureUnitSymbol }}
    </div>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Description: {{ weatherDescription }}
    </div>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Humidity: {{ humidity }}%
    </div>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Pressure: {{ pressure }} hPa
    </div>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Wind Speed: {{ windSpeed }} m/s
    </div>

    <div class='info-item' style='flex: 1; padding-right: 10px;'>
        Cloudiness: {{ cloudiness }}%
    </div>

</div>

<div class='info-item'>
    <img src='{{ imagePath }}' alt='Weather Image' width='100' height='100'>
</div>

<div><br><br><br><br></div>
